.sidebar
  %h4 About
  %p
    18Den is an 18xx blog from Denver.
    = link_to "Read about 18Den.", "/posts/1"

  %hr
  
  %p= link_to "View Session Reports", session_reports_path()

  - if user_signed_in?
    %p= link_to "Post Session Report", new_session_report_path()
    %p= link_to "Post Review", new_post_path()
