a:hover {
  color: #990044;
  text-decoration: underline;
}
a {
  text-decoration: none;
}

a.edit {
  background-color: #ff9900;
  color: white;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 5px;
  &:visited {
    color: white;
  }
  &:hover {
    background-color: #ff9900;
    color: white;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 5px;
  }
}
a.delete-link {
  background-color: #990000;
  color: white;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 5px;
  &:visited {
    color: white
  }
  &:hover {
    background-color: #990000;
    color: white;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 5px;
  }
}
.edit-page {
  padding-left: 1em;
  .form {
    padding-left: 1em;
  }
}
.main {
  padding-left: 2em;
}
table.table-striped {
  
  td {
    padding: 0.5em;
  }
  tr:hover {
    background: #ccccef !important;
  }
  th {
    padding: 0.5em;
    background-color: #696969;
    color: #fff;
    
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
}
p.avatar {
  img {
    border-radius: 50%;
    vertical-align: sub;
  }
  span {
    padding: 1em;
  }
}
.about-me {
  max-width: 1000px;
  margin-bottom: 1.2em;
  border: 0.5px dashed #eee;
  padding: 0.5em;
}
input[type=text] {
  width: 60%;
  font-size: 1em;
  padding: 3px;
}
textarea {
  width: 60%;
  font-size: 1.2em;
  padding: 4px;
}
.comments {
  background: #ededed;
  padding: 1em;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}
// ---------- FORM -------------------------
form#new_page {
  .field {
    padding-bottom: 2em;
  }
}
.new-comment {
  padding: 1em;
  background: yellow;
  color: #353535;
}
form.new_comment {
  input, textarea {
    margin-bottom: 1em;
  }
}
