.main-wrapper
  %h1 Session Reports

  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Game
        %th

    %tbody
      - @session_reports.each do |session_report|
        %tr
          %td= link_to session_report.title, session_report_path(session_report)
          %td= session_report.game
          %td= link_to 'Show', session_report_path(session_report)

  %br

  = link_to 'New Session report', new_session_report_path
